#ai-recipe-box {
    width: 45vw;
    border: 3px solid #865d36;
    margin: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.ingredients {
    display: flex;
}

.top-recipe-box {
    display: flex;
    justify-content: space-between;
}

.add-recipe-btn {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.ai-ingred-div {
    background-color: #a69080;
    display: flex;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}

.button-clicked-alternate {
    margin-right: 1rem;
    border: 3px solid #865d36;
    border-radius: 1rem;
    padding: 0.2rem;
}