@media (max-width: 1350px) {
    #ai-recipe  {
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh !important; /* Set minimum height to cover the entire viewport */
        background: linear-gradient(0deg, rgba(147, 120, 91, 0.2), rgba(147, 120, 91, 0.8)), url('/images/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        color: white;
        position: relative !important; /* Set position to relative */
    }
    .text-big {
        font-size: 3rem !important;
    }
    
    .text-mid {
        font-size: 2rem !important;
    }
    
    .text-small {
        font-size: 1rem !important;
    }
    
    .text-tiny {
        font-size: 0.5rem;
    }

    .suggested-recipes {
        grid-template-columns: 100% !important;
        place-items: center !important;
    }

    .gen-recipe-btn {
        width: 10rem !important;
    }
    .recipe-break {
        margin: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #AC8968;
    }
}

@media (max-width: 450px) {
    .gen-recipe-btn {
        width: 10rem !important;
        margin-top: -2rem !important;
    }
    }

    .text-big {
        font-size: 2.5rem !important;
        margin-left: 2rem;
    }
    .text-mid {
        margin-left: 2rem;
    }

    .ingredient-input-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
        margin-top: 1rem !important;
        flex-direction: column;
    }

#ai-recipe {
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, rgba(147, 120, 91, 0.2), rgba(147, 120, 91, 0.8)), url('/images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    color: white;
}





.recipe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:  */
}

.suggested-recipes {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    align-items: center;
    background-color: #AC8968;
    margin: 0;
}

.recipe-break {
    margin-left: 2rem;
    background-color: transparent;
}

#ingred {
    height: 1.5rem;
    margin-right: 1rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-big {
    font-size: 5rem;
}

.text-mid {
    font-size: 4rem;
}

.text-small {
    font-size: 3rem;
    margin: 3rem;
    margin-top: 5rem;
}

.text-tiny {
    font-size: 2rem;
}

.explanation {
    font-size: 0.9rem;
    margin-left: 4rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.top-bar {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

#ingredientInputBox {
    width: 50vw;
}

.ingredient-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-top: 5.5rem;
    flex-direction: column;
}

.gen-recipe-btn {
    width: 20vw;
}
.gen-recipe-btn:active, .home-btn:active {
    background-color: #865d36 !important;
    border: 1px solid #865d36 !important;
}

.home-btn {
    margin-top: 2rem;
}


.cuisine-preferences {
    display: flex;
    justify-content: space-around;
}

