.person-img {
    height: 13rem;
    border-radius: 5rem;
}

#customer-review-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-left: 1rem;
    background-color: #865D36;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
}

.review-holder {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}

.review-name {
    font-weight: bolder;
    text-align: center;
}

.review-body {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}