@media (max-width: 900px) {
    .dash-sidebar {
        display: none !important;
    }

    .dropdown-btn {
        display: block !important;
    }
}

.dropdown-btn {
    display: none;
}

.dash-holder {
    background-color: white;
    height: 100vh;
    display: flex;
}

.show-more-svg {
    height: 2rem;
}

.dash-sidebar {
    height: 101vh;  
    background-color: #a69080;
    width: 20rem;
}

.reco-logo {
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.welcome-msg {
    margin: 2rem;
}

.dash-mainarea {
width: 100%;
display: flex;
flex-direction: column;
}

.dash-main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.dash-main-bottom {
    display: flex;
    justify-content: center;
}

.dash-logout {
    margin: 1rem;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
}

.btn-primary:active {
    background-color: #93785b !important;
    border: 2px solid #93785b !important;
}