.dash-holder {
    background-color: white;
    height: 100vh;
    display: flex;
}

.dash-sidebar {
    height: 100vh;  
    background-color: #a69080;
    width: 20rem;
}

.reco-logo {
    height: 4rem;
}

.dash-mainarea {
width: 100%;
display: flex;
flex-direction: column;
}

.dash-main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.dash-logout {
    margin: 1rem;
}