@media (min-width: 960px) {
    .post-div {
        width: 98% !important;
        border-radius: 0.5rem;
        margin: 1rem;    
    }
    #post-description {
        -webkit-line-clamp: 4 !important; 
        line-clamp: 4 !important;
    }
}

.post-div {
    background-color: #AC8968;
    width: 100%;
    padding: 0.6rem;
    flex-grow: 1;
    border-top: 2px solid #865D36;
    border-bottom: 1px solid #865D36;
    margin-bottom: -0.8rem;
}


#post-description {
    margin-top: -0.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;  
}

.interactions {
    display: flex;
    justify-content: start;
}

.post-divs {
    width: 100%;
}

.usr-img-post {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
}

.pd-top {
    display: flex;
    justify-content:start;
    width: 50%;
}

.pd-l {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pd-user-info {
    display: flex;
    align-items: center;
}

.upvote-counter {
    margin-left: 1rem;
}

.pdtop-user {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.bullet {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}

.pd-title {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.posted-time {
    color: #3E362E;
    font-size: 0.85rem;
}

.post-div {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
}

.pd-bot {
    display: flex;
    width: 100%;
}

.pd-bl {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.pd-br {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 20%;
    margin-right: 3rem;
    
}

.food-primary-img {
    height: 6rem;
    width: auto;
}

.post-div:hover {
    filter: brightness(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}