#forum-div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.forum-sort-post {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
    margin-left: 1rem;
    width: 100%;
}
#forum-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

#thread-div {
    overflow: hidden;
}