#header {
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.recomeats {
    height: 5rem;
}

.log-button {
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.4rem 1.3rem 0.4rem 1.2rem;
    background-color: #3e362E;
    color: white;
    border: none;
}

.header-button {
    background-color: #3e362E;
}

.header-button:hover {
    background-color: #a69080;
}

.modal-title, .modal-body {
    color: #3e362E;
}

.submit-register {
    display: flex;
    justify-content: space-between;

}

.register-div {
    position: absolute;
    margin-left: 10rem;

}

.register {
    position: relative;
    left: 15rem;
    top: 1.5rem;
    font-size: 1rem;
    color: #3e362E;
}
