@media (max-width: 1600px) {
    #help {
        width: auto !important;
        text-align: center;
        font-size: 1rem !important;
        margin: 2rem;
        margin-top: 0rem;
    }
}

#help {
    justify-content: space-around;
    height: 80vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.help-top, .help-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

/* .accordian-element {
}

.accordion-body {
} */

.accordion-div {
    width: 80%;
}
.faq-header {
    margin-left: 2rem;
    display: none;
}