.interact-btn {
    background-color: transparent;
    border: transparent;
    color: white;
}

.interact-box {
    padding: 0.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-color: #865D36;
    border-radius: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    font-size: 0.8rem;
    border: 2px solid transparent; 
    transition: border 0.2s ease; 
}

.interact-box:hover {
    border: 2px solid #fff; 
}

.interact-box:focus {
    outline: none; 
}

.interact-box:active {
    border: 2px solid #865d36; 
    background-color: #7a4b2b; 
}

.upvote-arrow {
    height: 1rem;
    margin-right: 0.5rem;
    filter: invert(100%) sepia(66%) saturate(175%) hue-rotate(267deg) brightness(108%) contrast(101%);
}

.posted-time {
    margin-left: 1rem;
}