#profile {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    flex-direction: column;
    height: 90vh;
}

.info-bottom {
    margin-left: 1rem;
    margin-bottom: 3rem;
}