#profile {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    flex-direction: row;
    height: 80vh;
}

.info-bottom {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.profile-info {
    margin-left: 7vw;
    margin-top: 7vh;
}