@media (max-width: 1375px) {
    #profile {
        flex-wrap: wrap !important;
    }
}
@media (max-width: 975px) {
    #profile {
        flex-wrap: wrap !important;
    }
}

#profile {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-direction: row;
    height: 80vh;
}

.info-bottom {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.profile-info {
    margin-left: 7vw;
    margin-top: 7vh;
}