@media (max-width: 1600px) {
    #recipes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desc-div {
        flex-direction: column;
    }
}

@media (max-width: 740px) {
    #recipes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desc-div {
        flex-direction: column;
    }

}

@media (max-width: 560px) {
    .buttons {
        height: 2rem;
        margin-bottom: 5rem;
    }

    .ai-btn{
        margin-bottom: 0.5rem;
    }

    .recipe-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }


}

.recipe-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.pagination {
    margin-left: 2rem;
}

.desc-div {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.btn-primary {
    background-color: #865d36;
    border: 1px solid #865d36;
}
.btn-primary:hover {
    background-color: #ac8968;
    border: 1px solid #ac8968;
}
.btn-primary:disabled {
    background-color: #3e362e;
    border: 1px solid #3e362e;
}

.btn-danger {
    background-color: #3e362e;
    border: 1px solid #3e362e;
}

.ai-btn{
    margin-right: 2rem;
}

.no-recipes {
    color: gray;
    margin: 3rem;
}