#satisfied-customers-div {
    background-color: #AC8968;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -2rem;
}

.customer-layout {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.satisfied-title {
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: -6rem;;
    background-color: #AC8968;
}