@media (max-width: 900px) {

    #sidebar-element:hover {
        background-color: transparent !important;
    }
}

#sidebar-element {
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

#sidebar-element:hover {
    background-color: #93785b
}

.sidebar-svg {
    width: 2.5rem;
    margin-right: 1rem;
    filter: invert(17%) sepia(7%) saturate(1603%) hue-rotate(349deg) brightness(92%) contrast(83%);
}

.side-el-right {
    font-size: 1.5rem;
}