@media (min-width: 1400px) {
    #related-threads {
        margin-left: 4rem !important;
    }
    #left-sidebar-div {
        width: 15rem !important;
    }
}

@media (min-width: 1300px) {
    body > #related-threads {
        margin-left: 4rem 
    }
    body > #left-sidebar-div {
        width: 10rem 
    }
}

@media (min-width: 1200px) {
    #left-sidebar-div {
        display: flex !important;
    }
}

@media (min-width: 769px) {
    #related-threads {
        display: flex !important;
    }
    #thr-r {
        display: flex !important;
    }
}


#recipe-thread-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
#interaction-div {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#left-sidebar-div {
width: 6rem;
display: none;
flex-shrink: 0;
}


#thread-wrapper {
    display: flex;
    align-items: start;
    margin: 0.2rem;
}

#thr-r {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 10vh;
    width: 100%;
    margin: 2rem;
    top: 5px;
}

.nutrient-info-wrapper {
    position: sticky;
    top: 20px; 
  }

#thr-l {
    margin: 0.8rem;
}


#related-threads {
    display: none;
    justify-content: start;
    flex-direction: column;
    width: 40%;
    margin: 1rem;
    align-items: center;
    height: 20rem;
    width: 17rem;
    top: 1rem;
    right: 0.3rem;  
    padding-top: 1rem;

}

#user-box {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.user-text {
    font-size: 1rem;
    margin-left: 0.5rem;
}

#timestamp {
    color: grey;
    font-size: 0.7rem;
    margin-left: 1rem;
}

#thread-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    line-height: 1.3rem;
    
}

#thread-desc {
    margin-bottom: 2rem;
}

#ingredients {
    display: flex;
    justify-content: start;
    margin-left: 0.2rem;
    flex-wrap: wrap;
}

#ingredient {
    margin-right: 0.3rem;
}