@media (min-width: 960px) {
    #trending-recipe-box {
        display: flex !important;
    }
}

#trending-recipe-box {
    display: none;
    justify-content: start;
    flex-direction: column;
    width: 40%;
    margin: 1rem;
    align-items: center;
    background-color: #93785B;
    width: 17rem;
    position: sticky;
    top: 1rem;  
    right: 0.3rem; 
    padding: 1rem;
    border-radius: 0.3rem;
}

#trending-recipe {
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  #trending-recipe:active {
    transform: scale(0.98); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  }  


.trending-recipe-img {
    height: 2rem;
    margin-right: 1rem;
}

#tr-entries {
    width: 100%;
}

.tr-desc {
    margin-top: -0.8rem;
    line-height: 1rem;
    margin-bottom: -0.3rem;
}

#trending-recipe {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}
#trending-recipe:hover {
    background-color: #a69080;
}

.tr-title {
    font-size: 1rem;
    font-weight: bold;
}
#tr-header {
    font-weight: bold;
    font-size: 1rem;
    margin-top: -0.8rem;
    margin-left: -2rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3rem;
    border-bottom: 2px solid #AC8968;
}

#tr-layout {
    display: flex;
    flex-direction: column;
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
}
